h1 {
    border: 1px solid blue;
    margin-right: 945px;
    border-color: grey;
    background-color: grey;
    font-style: bold;
}

img {
    width: 360px;
    height: 200px;
}

h2 {
    color:blue;
    font-size: 40px;
}

h3 {
    color: green;
    font-size: 40px;
}

h4 {
    font-size: 30px;
}